<div class="container-fluid">
    <div class="row">
        <h2>Create Table</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
        <mat-form-field class="col-4" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field  class="col-4" appearance="outline">
            <mat-label>Select Type</mat-label>
            <mat-select>
                <mat-option *ngFor="let type of fieldTypes" [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-4" appearance="outline">
            <mat-label>Default Value</mat-label>
            <input matInput>
          </mat-form-field>
    </div>
</div>
