<div class="row hide-table" *ngIf="!customerData">
  <mat-form-field class="col-sm-4" appearance="outline">
    <mat-label>Search Customer/Bill</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Google" #input>
  </mat-form-field>
  <mat-form-field class="col-sm-4" appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input (change)="getBillData($event.target.value)" [value]="selectedDate" matInput type="date" [min]="minDate" [max]="maxDate">
  </mat-form-field>
</div>


<body *ngIf="storeData" class="hide-table">
  <div class="myt-5 mt-2 ml-2">
    <div class="row d-flex justify-content-between">
      <div class="col-4">
        <h3 class="text-muted txtlight px-1">BILLS</h3>
      </div>
      <h2 class="col-sm-4">
        Total: {{totalBillAmount | currency: 'INR'}}
      </h2>
      <div class="col-sm-2" *ngIf="customerUuid">
        <button type="button" (click)="viewCustomerPayment(customerUuid)" class="btn btn-primary">
          View Payment
        </button>
      </div>
      <div class="col-sm-2" *ngIf="customerUuid">
        <button type="button" (click)="openUserDialog()" class="btn btn-primary">
          + BILL
        </button>
      </div>
    </div>
  </div>
</body>
<div class="hide-table">
  <div class="mat-elevation-z8 hide-table">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Checkbox Column --> -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="id" class="hide-table">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row; let i = index"> {{ i + 1 }} </td>
      </ng-container>

      <!-- Bill No Column -->
      <ng-container matColumnDef="bill_no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> BILL NO </th>
        <td mat-cell *matCellDef="let row" (click)="viewPaymentClickHandler(row)"> {{row.bill_no}} </td>
      </ng-container>

      <!-- Bill Amount Column -->
      <ng-container matColumnDef="bill_amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> BILL AMOUNT </th>
        <td mat-cell *matCellDef="let row"> {{row.bill_amount}} </td>
      </ng-container>

      <!-- Customer Name Column -->
      <ng-container matColumnDef="customer_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CUSTOMER NAME </th>
        <td mat-cell *matCellDef="let row"> {{row.customer?row.customer.name: row.customer_name}} </td>
      </ng-container>

      <!-- Place Column -->
      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PLACE </th>
        <td mat-cell *matCellDef="let row"> {{row.customer.place ? row.customer.place.name : ''}} </td>
      </ng-container>

      <!-- Bill Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CREATED </th>
        <td mat-cell class="cursor-pointer" *matCellDef="let element">
          {{element.bill_date != "NaN" && element.bill_date | date : commonService.dateFormat}}
        </td>
      </ng-container>

      <!-- Total Bill Amount Left Column -->
      <ng-container matColumnDef="bill_amount_left">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> BILL AMOUNT LEFT </th>
        <td mat-cell *matCellDef="let row">
          {{row.amount_left}}
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="ok">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td (click)="verify(element)" mat-cell *matCellDef="let element">
          <span class="material-icons cursor-pointer">
            check_circle_outline
          </span>
        </td>
      </ng-container> -->

      <ng-container matColumnDef="payment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td (click)="addPayment(element)" mat-cell *matCellDef="let element">
          <span class="material-icons cursor-pointer">
            money
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td (click)="edit(element)" mat-cell *matCellDef="let element">
          <span class="material-icons cursor-pointer">
            mode_edit
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td (click)="delete(element)" mat-cell *matCellDef="let element">
          <span class="material-icons cursor-pointer">
            delete
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="10">No data matching the filter</td>
      </tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator> -->
  </div>
</div>

<div class="show-card" *ngIf="dataSource && dataSource.filteredData">
  <div *ngIf="storeData">
    <div style="padding: 15px;">
      <div>
        <nav class="row ml-0" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item small"><a [routerLink]="['/customer']">Customer</a></li>
            <li class="breadcrumb-item small">BILLS</li>
            <li *ngIf="commonService.selectedCustomer" class="breadcrumb-item active small" aria-current="page">{{commonService.selectedCustomer.name}} - {{commonService.selectedCustomer.area}}</li>
          </ol>
        </nav>
        <div style="display: flex; justify-content: space-between">
          <h6 style="padding: 8px;">
            Total: {{totalBillAmount | currency: 'INR' : number: '1.0-0'}}
          </h6>
          <div *ngIf="customerUuid">
            <button mat-stroked-button color="primary" (click)="viewCustomerPayment(customerUuid)">
              View Payment
            </button>
          </div>
          <div *ngIf="customerUuid">
            <button mat-stroked-button color="primary" (click)="openUserDialog()">
              + BILL
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4" *ngFor="let bill of dataSource.filteredData">
    <div class="customer-card">
      <div class="row">
        <div class="col-8">
          <h6 class="cursor-pointer">{{bill.bill_no}}</h6>  
        </div>
        <div class="col-4">
         <button mat-stroked-button color="primary" [matMenuTriggerFor]="menu">Action</button>
           <mat-menu #menu="matMenu">
             <button mat-menu-item (click)="edit(bill)">Edit</button>
             <button mat-menu-item (click)="delete(bill)">Delete</button>
           </mat-menu>          
        </div>
      </div>
      <div class="row">
        <div class="col-8 card--area">
           <p>{{bill.bill_date != "NaN" && bill.bill_date | date : commonService.dateFormat}}</p>
        </div>
        <div class="col-4 card--dues">
         <p>{{bill.bill_amount | currency : 'INR' : number: '1.0-0'}}</p>
      </div>
      </div>
    </div>
  </div>
</div>