<div class="table-actionbar">
    <div class="search-box">
        <mat-form-field class="example-form-field" appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>Search</mat-label>
            <input matInput type="text" [(ngModel)]="value" (keyup)="applyFilter($event)">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="action-box">
        <button (click)="onRefreshClick" color="primary" mat-mini-fab aria-label="Example icon button with a home icon">
            <mat-icon>refresh</mat-icon>
        </button>
        <button (click)="openDialog()" color="primary" mat-mini-fab aria-label="Example icon button with a home icon">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let row; let i = index"> {{ i + 1 }} </td>
    </ng-container>

    <!-- table dynamic columns -->
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef> {{ column.header }} </th>
        <div *ngIf="column.object">
            <td mat-cell *matCellDef="let row"> {{ row[column.columnDef]['name'] }} </td>
        </div>
        <div *ngIf="column.date">
            <td mat-cell *matCellDef="let row"> {{ row[column.columnDef] | date : commonService.dateFormat }} </td>
        </div>
        <td mat-cell *matCellDef="let row"> {{ row[column.columnDef]}} </td>
    </ng-container>


    <!-- table action column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let row" action-buttons [value]="row" (buttonAction)="onTableAction($event)">
            {{ row.weight }}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator> -->