<form [formGroup]="createForm" *ngIf="data.page === 'customer'">
    <div mat-dialog-title class="row">
        <h3 class="col-sm-11">{{data.title}}</h3>
    </div>
    <hr>
    <div mat-dialog-content>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-4 col-form-label">Name:</label>
                <input type="text" class="form-control col-sm-6 mb-4" placeholder="Enter Name" formControlName="name">
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Area:</label>
                <input class="form-control col-sm-6 mb-4" type="text" placeholder="Enter Place" formControlName="area">
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Place:</label>
                <mat-form-field style="width: 50%;" appearance="outline">
                    <mat-select name="type" formControlName=place [compareWith]="compareFn">
                        <mat-option *ngFor="let place of places" [value]="place">
                            {{place.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Level:</label>
                <mat-form-field style="width: 50%;" appearance="outline">
                    <mat-select name="type" formControlName=customer_type>
                        <mat-option [value]="1">
                            High Transaction
                        </mat-option>
                        <mat-option [value]="2">
                            Medium Transaction
                        </mat-option>
                        <mat-option [value]="3">
                            Low Transaction
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Phone Number:</label>
                <input class="form-control col-sm-6 mb-4" type="number" placeholder="Phone Number"
                    formControlName="phoneNumber">
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Notes:</label>
                <input class="form-control col-sm-6 mb-4" type="text" placeholder="Enter Notes" formControlName="notes">
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <div mat-dialog-actions class="float-right mb-1">
        <button type="button" mat-button mat-dialog-close class="btn btn-light mr-4" data-dismiss="modal">Close</button>
        <button mat-button [disabled]="!createForm.valid || loading" type="button" (click)="submit()"
            class="btn btn-primary">Save</button>
    </div>
</form>

<form [formGroup]="createForm" *ngIf="data.page === 'payment'">
    <div mat-dialog-title class="row">
        <h3 class="col-sm-11">{{data.title}}: {{data.data.name}} - {{data.data.place && data.data.place.name}}</h3>
    </div>
    <hr>
    <div mat-dialog-content>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-4 col-form-label">Date:</label>
                <input type="date" class="form-control col-sm-6 mb-4" max="{{today}}" placeholder="Enter Date"
                    formControlName="payment_date">
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Amount:</label>
                <input class="form-control col-sm-6 mb-4" type="{{data.action === 'create' ? 'text' : 'number'}}"
                    placeholder="Enter Amount" formControlName="paid_amount">
            </div>
            <div class="row" *ngIf="data.action === 'create'">
                <span class="col-sm-4"></span>
                <small class="text-muted col-sm-6 mb-4">*Add multiple amount with comm like: 100,200</small>
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Notes:</label>
                <input class="form-control col-sm-6 mb-4" type="text" placeholder="Enter Notes" formControlName="notes">
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <div mat-dialog-actions class="float-right mb-1">
        <button type="button" mat-button mat-dialog-close class="btn btn-light mr-4" data-dismiss="modal">Close</button>
        <button mat-button [disabled]="!createForm.valid || loading" type="button" (click)="submit()"
            class="btn btn-primary">Save</button>
    </div>
</form>

<form [formGroup]="createForm" *ngIf="data.page === 'bill'">
    <div mat-dialog-title class="row">
        <h3>{{data.title}}: {{data.data.name}} - {{data.data.place && data.data.place.name}}</h3>
    </div>
    <hr>
    <div mat-dialog-content>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-4 col-form-label">Date:</label>
                <input class="form-control col-sm-6 mb-4" type="date" max="{{today}}" placeholder="Enter Date"
                    formControlName="bill_date">
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Bill No:</label>
                <input type="text" class="form-control col-sm-6 mb-4 input-upper" placeholder="Enter Bill"
                    formControlName="bill_no">
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Amount:</label>
                <input class="form-control col-sm-6 mb-4" type="number" placeholder="Enter Amount"
                    formControlName="bill_amount">
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Notes:</label>
                <input class="form-control col-sm-6 mb-4" type="text" placeholder="Enter Notes" formControlName="notes">
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <div mat-dialog-actions class="float-right mb-1">
        <button type="button" mat-button mat-dialog-close class="btn btn-light mr-4" data-dismiss="modal">Close</button>
        <button mat-button [disabled]="!createForm.valid || loading" type="button" (click)="submit()"
            class="btn btn-primary">Save</button>
    </div>
</form>

<form [formGroup]="createForm" *ngIf="data.page === 'expense'">
    <div mat-dialog-title class="row">
        <h3 class="col-sm-11">{{data.title}}</h3>
    </div>
    <hr>
    <div mat-dialog-content>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-4 col-form-label">Date:</label>
                <input type="date" class="form-control col-sm-6 mb-4" placeholder="Enter Date"
                    formControlName="expenses_date">
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Amount:</label>
                <input class="form-control col-sm-6 mb-4" type="number" placeholder="Enter Amount"
                    formControlName="amount">
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Type:</label>
                <mat-form-field style="width: 50%;" appearance="outline">
                    <mat-select name="type" formControlName=type>
                        <mat-option *ngFor="let category of expensesCategory" [value]="category">
                            {{category.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <label class="col-sm-4 col-form-label">Notes:</label>
                <input class="form-control col-sm-6 mb-4" type="text" placeholder="Enter Notes" formControlName="notes">
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <div mat-dialog-actions class="float-right mb-1">
        <button type="button" mat-button mat-dialog-close class="btn btn-light mr-4" data-dismiss="modal">Close</button>
        <button mat-button [disabled]="!createForm.valid || loading" type="button" (click)="submit()"
            class="btn btn-primary">Save</button>
    </div>
</form>

<form [formGroup]="createForm" *ngIf="data.page === 'place'">
    <div mat-dialog-title class="row">
        <h3 class="col-sm-11">{{data.title}}</h3>
    </div>
    <hr>
    <div mat-dialog-content>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-4 col-form-label">Name</label>
                <input type="text" class="form-control col-sm-6 mb-4" placeholder="Enter Place" formControlName="name">
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <div mat-dialog-actions class="float-right mb-1">
        <button type="button" mat-button mat-dialog-close class="btn btn-light mr-4" data-dismiss="modal">Close</button>
        <button mat-button [disabled]="!createForm.valid || loading" type="button" (click)="submit()"
            class="btn btn-primary">Save</button>
    </div>
</form>

<form *ngIf="data.page === 'confirm'">
    <div mat-dialog-content>
        Do you wan to delete it?
    </div>
    <!-- <hr> -->
    <div mat-dialog-actions class="float-right mb-1">
        <button type="button" mat-button mat-dialog-close class="btn btn-light mr-4" data-dismiss="modal">No</button>
        <button mat-button type="button" (click)="confirm()" class="btn btn-primary">Yes</button>
    </div>
</form>