<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div *ngIf="totalData">
<div class="row ml-1" *ngIf="totalData">
  <div class="col-md-4 col-xl-3">
    <div class="card bg-c-blue order-card">
      <div class="card-block">
        <h6 class="m-b-20">Total Payment</h6>
        <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{totalData.totalPayment | currency : 'INR'}}</span></h2>
        <!-- <p>{{totalData.totalPaymentInWords}}</p> -->
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xl-3">
    <div class="card bg-c-green order-card">
      <div class="card-block">
        <h6 class="m-b-20">Total Sales</h6>
        <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>{{totalData.totalSales | currency : 'INR'}}</span></h2>
        <!-- <p>{{totalData.totalSalesInWords}}</p> -->
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xl-3">
    <div class="card bg-c-pink order-card">
      <div class="card-block">
        <h6 class="m-b-20">Total Dues</h6>
        <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{totalData.totalDues | currency : 'INR'}}</span></h2>
        <!-- <p>{{totalData.totalDuesInWords}}</p> -->
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xl-3">
    <div class="card bg-c-yellow order-card">
      <div class="card-block">
        <h6 class="m-b-20">Total Expenses</h6>
        <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>{{0 | currency : 'INR'}}</span></h2>
      </div>
    </div>
  </div>
</div>

<app-report></app-report>


<div class="row hide-table">
  <div *ngIf="dataSource && dataSource.length" class="col-12" >
    <app-sales-overview-grap [dailyData]="dataSource"></app-sales-overview-grap>
  </div>
</div>
<div class="row hide-table">
  <app-area-overview-graph class="col-12"></app-area-overview-graph>
</div>

</div>